.container {
  background-color: #040f1b;
}

.nav__container {
  display: flex;
  justify-content: space-between;
  text-decoration: none;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 2rem;
  max-width: 1260px;
  padding-top: 1rem;
  padding-bottom: 1rem;
  padding-left: 1rem;
  padding-right: 1rem;
}

.nav {
  display: none;
}

@media only screen and (min-width: 700px) {
  .nav__container {
    padding-left: 3rem;
    padding-right: 3rem;
  }
  .nav {
    display: flex;
    align-items: center;
    color: white;
  }
}

.container a {
  text-decoration: inherit;
  color: inherit;
}

.logo {
  font-size: 1.5rem;
}

.logo__red {
  font-size: 1.5rem;
  color: rgb(197, 0, 0);
}

.logo__blue {
  font-size: 1.5rem;
  color: #087ea4;
}

.nav__link {
  padding: 0 0 0 20px;
}

.nav__link a {
  color: white;
  text-decoration: none;
}

.nav__link a:hover {
  color: #087ea4;
}
