.container {
  /* padding-bottom: 1rem; */
  padding: 10px;
  margin-bottom: 1rem;
  display: flex;
  background-color: rgb(32, 52, 71);
  /* color: var(--text-color); */
  border-radius: 10px;
  /* box-shadow: 0.05rem 0.1rem 0.3rem -0.03rem rgba(0, 0, 0, 0.45); */
}

.img__container {
  width: 300px;
  height: 200px;
  min-width: 300px;
  /* border-radius: 5px 5px 0 0; */
}

.img__container img {
  width: 300px;
  height: 200px;
  /* border: 2px solid gray; */
  /* border-radius: 5px; */
}

.container button {
  border-style: none;
  background-color: #161925;
  color: var(--text-color);
  padding: 5px 10px 5px 10px;
  border-radius: 0.5rem;
}

.container__right {
  margin-left: 1.25rem;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.container__right h1 {
  font-size: 1.5rem;
  font-weight: 700;
  padding-bottom: 0.5rem;
}

.container__right p {
  --tw-text-opacity: 1;
  color: rgba(156, 163, 175, var(--tw-text-opacity));
  padding-bottom: 0.5rem;
}

.container__right button {
  background-color: #07799d;
  font-weight: 700;
  margin-bottom: 0.25rem;
}

.techRow {
  padding-bottom: 0.5rem;
  display: flex;
  flex-wrap: wrap;
}

.techTag {
  background-color: #998e4d;
  font-size: 0.9rem;
  border-radius: 8px;
  padding: 2px 5px;
  margin-right: 5px;
  margin-bottom: 5px;
}

@media (max-width: 768px) {
  .container {
    flex-wrap: wrap;
  }
  .img__container {
    width: 100%;
    height: auto;
    max-height: 300px;
    margin-bottom: 0.5rem;
  }
  .img__container img {
    width: 100%;
    height: auto;
    max-height: 300px;
  }
}
