.container {
  width: 16rem;
}

.title {
  font-size: 1.25rem;
  font-weight: 700;
  color: aquamarine;
  padding-bottom: 1rem;
  margin-left: 0.25rem;
}

.list {
}

.list__item {
  display: flex;
  align-items: center;
  margin-left: 0.25rem;
  padding-bottom: 0.5rem;
}

.list__item span {
  padding-left: 0.5rem;
  font-size: 1.125rem;
}

.list__icon {
  width: 2rem;
}
