.container {
  position: fixed;
  /* max-width: fit-content; */
}

.list__item {
  display: flex;
  align-items: center;
  margin-left: 0.25rem;
  padding-bottom: 0.5rem;
}

.list__item span {
  padding-left: 0.5rem;
  font-size: 1.125rem;
}

.list__icon {
  width: 2rem;
}
